# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
absl-py=0.12.0=pypi_0
astor=0.8.1=pypi_0
atari-py=0.2.6=pypi_0
ca-certificates=2021.4.13=h06a4308_1
cached-property=1.5.2=pypi_0
certifi=2020.12.5=py36h06a4308_0
cloudpickle=1.6.0=pypi_0
dataclasses=0.8=pypi_0
future=0.18.2=pypi_0
gast=0.2.2=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.37.1=pypi_0
gym=0.18.0=pypi_0
h5py=3.1.0=pypi_0
importlib-metadata=4.0.1=pypi_0
joblib=1.0.1=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.2=pypi_0
ld_impl_linux-64=2.33.1=h53a641e_7
libffi=3.3=he6710b0_2
libgcc-ng=9.1.0=hdf63c60_0
libstdcxx-ng=9.1.0=hdf63c60_0
markdown=3.3.4=pypi_0
ncurses=6.2=he6710b0_1
numpy=1.19.5=pypi_0
opencv-python=4.5.2.52=pypi_0
openssl=1.1.1k=h27cfd23_0
opt-einsum=3.3.0=pypi_0
pillow=7.2.0=pypi_0
pip=21.0.1=py36h06a4308_0
protobuf=3.17.0=pypi_0
pyglet=1.5.0=pypi_0
python=3.6.13=hdb3f193_0
readline=8.1=h27cfd23_0
scikit-learn=0.24.2=pypi_0
scipy=1.5.4=pypi_0
setuptools=52.0.0=py36h06a4308_0
six=1.16.0=pypi_0
sqlite=3.35.4=hdfb4753_0
tensorboard=1.15.0=pypi_0
tensorflow=1.15.3=pypi_0
tensorflow-estimator=1.15.1=pypi_0
termcolor=1.1.0=pypi_0
threadpoolctl=2.1.0=pypi_0
tk=8.6.10=hbc83047_0
typing-extensions=3.10.0.0=pypi_0
werkzeug=2.0.0=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
wrapt=1.12.1=pypi_0
xz=5.2.5=h7b6447c_0
zipp=3.4.1=pypi_0
zlib=1.2.11=h7b6447c_3
